.page-404{
  padding: 110px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    @extend %dmans-700;
    font-size: 100px;
    line-height: 140px;
    color: #436372;
    margin-right: 50px;
  }
  &__text{
    @extend %dmans-500;
    font-size: 30px;
    line-height: 60px;
    color: #436372;
    margin-right: 50px;
  }
  &__link{
    border-radius: 5px;
    max-width: 200px;
    margin-top: 40px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    background-color: #a3bbc8;
    border: none;
    color: #fff;
  }
  &__img{
    max-width: 500px;
  }
}