$accent: #436372;
$title: #243f4d;

%dmans-400{
  font-family: 'DMSans-Regular';
  font-weight: 400;
}

%dmans-500{
  font-family: 'DMSans-Medium';
  font-weight: 500;
}

%dmans-700{
  font-family: 'DMSans-Bold';
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%rubik-700{
  font-family: 'Rubik-Bold';
  font-weight: 700;
}