@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 60px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
  font-size: 15px;
  @extend %rubik-500;
  color: $accent;
  line-height: 0.8;
  }
}

.user-nav{
  display: flex;
  &__link{
    margin-right: 20px;
  }
  &__img--search{
    border-radius: 50%;
    background-color: #edf1f4;
    border: 25px solid #edf1f4;
  }
  &__bar{
    min-width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
    background-color: #fcd7b6;
    border: 1px solid #fcd7b6;
  }
  &__img--heart,
  &__img--cart{
    position: relative;
    padding-left: 10px;
  }
  &__num{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    @extend %dmans-400;
    color: $accent;
    position: absolute;
    top: 70px;
    margin-left: 24px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__img--burger{
    margin-left: 30px;
    padding: 22px 22px;
    border-width: 10px 10px;
    border-radius: 25px;
    background-color: #a3bbc8;
  
  }
}

.top-slider{
  padding: 224px 0 45px;
  background-image: url('../images/slider-bg-elipce.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fcd7b6;
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 210px;
  }
  &__title{
    max-width: 430px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    @extend %rubik-500;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 330px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__link-item{
    max-width: 200px;
    max-height: 62px;
    background-color: $accent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__link{
    height: 100%;
    font-size: 15px;
    line-height: 12;
    color: #ffffff;
    padding: 21px 0 24px;
    @extend %rubik-500
  }
  &__link-img{
    height: 100%;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
      button{
        padding: 0;
        font-size: 10px;
        line-height: 0;
        text-align: center;
        background-color: #fde3cc;
        color: $title;
        width: 28px;
        height: 28px;
        border: 1px solid #fde3cc;
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }    
}





.footer{
  padding: 80px 0 30px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #7b7b7b;
  margin-bottom: 70px;
  .logo{
    font-size: 36px;
    @extend %rubik-500;
    color: $accent;
    line-height: 1.611;
    text-align: left;
    &__img{
      display: inline-block;   
    }
  }
  &__item a{
    display: block;
    margin-bottom: 10px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__title{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmans-700;
    text-transform: uppercase;
  }
  &__address{
    max-width: 200px;
  }
  &__item-newsletter{
    margin-left: 100px;
  }
  &__newsletter-link{
    max-width: 270px;
    padding-bottom: 35px;
  }
}
.footer-top__form{
  &-input{
    min-width: 170px;
    padding: 12px 0 12px 13px;
    background-color: #fef7f0;
    border: none;
    @extend %dmans-400;
    font-size: 12px;
    line-height: 21px;
    color: #234969;
  }
  &-btn{
    padding: 12px 0;
    min-width: 90px;
    background-color: #a3bbc8;
    border: none;
    font-size: 12px;
    line-height: 21px;
    @extend %dmans-400;
    color: #ffffff;
    margin-left: -5px;
  }
}

.footer-bottom{
  padding: 35px 0 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
}

.footer-menu{
  &__list{
    display: flex;
  }
  &__list-link {
    margin-left: 30px;
    color: #7b7b7b;
  }
  &__list-link::before{
    content: "|";
    font-size: 18px;
    color: #7b7b7b;
    margin-right: 20px;
  }
}







@import 'media';


