@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 60px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
  font-size: 15px;
  @extend %rubik-500;
  color: $accent;
  line-height: 0.8;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative; 
  }
  &__img--search{
    border-radius: 50%;
    background-color: #edf1f4;
    border: 25px solid #edf1f4;
  }
  &__bar{
    min-width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    border: solid;
    border-width: 2px 4px;
    border-radius: 40px;
    background-color: #fcd7b6;
    border: 1px solid #fcd7b6;
  }

  &__num{
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    @extend %dmans-400;
    color: $accent;
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__img--burger{
    padding: 22px 22px;
    border-width: 10px 10px;
    border-radius: 25px;
    background-color: #a3bbc8;
  
  }
}

.top-slider{
  padding: 224px 0 45px;
  background-image: url('../images/slider-bg-elipce.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fcd7b6;
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 210px;
  }
  &__title{
    max-width: 430px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    @extend %rubik-500;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 330px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__link-item{
    max-width: 200px;
    max-height: 62px;
    background-color: $accent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__link{
    height: 100%;
    font-size: 15px;
    line-height: 12;
    color: #ffffff;
    padding: 21px 0 24px;
    @extend %rubik-500
  }
  &__link-img{
    height: 100%;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
      button{
        padding: 0;
        font-size: 10px;
        line-height: 0;
        text-align: center;
        background-color: #fde3cc;
        color: $title;
        width: 28px;
        height: 28px;
        border: 1px solid #fde3cc;
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }    
}

.features{
  padding: 40px 0 40px;
  background-color: #fef7f0;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__inner-items{
    display: flex;
    position: relative;
  }
  &__inner-img{
    margin-right: 24px;
  }
  &__inner-item{
    max-width: 200px; 
  }
  &__inner-title{
    @extend %dmans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__inner-text{
    @extend %dmans-400;
    color: #585858;
  }
  &__inner-title::before{
    content: '';
    position: absolute;
    right: 220px;
    top: 60px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    background-color: #dfe3e2;
    border-radius: 50%;
  }
}


.products{
padding: 75px 0 75px;
  &__title{
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 35px;
    color: #191919;
    @extend %dmans-700;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.products-nav__filter{ 
  margin-bottom: 35px;
  text-align: center;
  &-btn{
    font-size: 16px;
    @extend %dmans-700;
    line-height: 1.2;
    color: #8b8b8b;
    text-align: center;
    border: none;
    background-color: transparent;
  }
  &-btn:hover{
    color: #191919;
  }
} 

.products-item{
  min-height: 380px;
  max-width: 270px;
  text-align: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__img-box{
    height: 245px;
    position: relative;
    overflow: hidden;
  }
  &__link-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all .3s;
    transform: translateY(300%);
  }
  &__images{
    padding-top: 40px;
    display: inline-block;
    object-fit: cover;
  }
  &__link svg{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 14px  12px;
    background-color: #fff;
    margin-right: 10px;
    transition: all .3s;
  }
  &__link{
    display: inherit;
  }
  &__link:hover path{
    fill: #fff;
  }
  &__link:hover svg{
    background-color: #a3bbc8;
    border: 1px solid #a3bbc8;
  }
  &:hover{
    .products-item__link-box{
      transform: translateY(0);
    }
  }
&__title{
  padding-top: 55px;
  @extend %dmans-500;
  line-height: 40px;
  color: #243f4d;
} 
&__price{
  @extend %dmans-700;
  line-height: 40px;
  color: #a3bbc8;
  padding-bottom: 35px;
}

}




.video{
  padding: 50px 0 60px;
  &__item{
    max-width: 100%;
    height: 500px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: center center;
    background-size: cover;
    position: relative;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 250px;
    right: 0;
    text-align: center;
  }

}

.fancybox-inner {
  position: absolute;
  margin: 0 auto;
  top: 200px;

}


.footer{
  padding: 80px 0 30px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #7b7b7b;
  margin-bottom: 70px;
  .logo{
    font-size: 36px;
    @extend %rubik-500;
    color: $accent;
    line-height: 1.611;
    text-align: left;
    &__img{
      display: inline-block;   
    }
  }
  &__item a{
    display: block;
    margin-bottom: 10px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__title{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmans-700;
    text-transform: uppercase;
  }
  &__address{
    max-width: 200px;
  }
  &__item-newsletter{
    margin-left: 100px;
  }
  &__newsletter-link{
    max-width: 270px;
    padding-bottom: 35px;
  }
}
.footer-top__form{
  &-input{
    min-width: 170px;
    padding: 12px 0 12px 13px;
    background-color: #fef7f0;
    border: none;
    @extend %dmans-400;
    font-size: 12px;
    line-height: 21px;
    color: #234969;
  }
  &-btn{
    padding: 12px 0;
    min-width: 90px;
    background-color: #a3bbc8;
    border: none;
    font-size: 12px;
    line-height: 21px;
    @extend %dmans-400;
    color: #ffffff;
    margin-left: -5px;
  }
}

.footer-bottom{
  padding: 35px 0 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
}

.footer-menu{
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__list-item{
    position: relative;
  }
  &__list-item + .footer-menu__list-item{
    padding-left: 40px;
  }
  &__list-link {
    color: #7b7b7b;
    &::before{
      content: " ";
      display: flex;
      position: absolute;
      border-right: 1px solid #7b7b7b;
      top: 7px;
      width: 10px;
      height: 15px;
      right: -20px;
    }
  } 
}



@import 'media';


