.filter{
  &__item{
    padding: 35px 30px 30px;
    margin-bottom: 65px;
  }
  &__title{
    text-transform: uppercase;
    font-size: 18px;
    color: #243f4d;
    @extend %dmans-700;
    margin-bottom: 25px;
    position: relative;
    &::after{
      content: "";
      width: 45px;
      position: absolute;
      border-top: 2px solid #a3bbc8;
      top: 15px;
      margin-left: 15px;
    }
  }
}
.filter-recent{
  &__item{
    width: 275px;
    display: flex;
  }
  &__img-link{
    cursor: pointer;
    margin-right: 20px;
  }
  &__content-img{
    object-fit: cover;
  }
  &__content-title{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &__content-date{
    font-size: 12px;
    @extend %rubik-400;
    color: #9a9a9a;
    & i{
      color: #9a9a9a;
      margin-right: 5px;
    }
  }
}