.lights{
  margin-bottom: 100px;
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.lights__item{
  max-width: 870px;
  min-height: 480px;
  
}
.lights__item:nth-child(1){
  background-image: url('../images/light-1.png');
  background-repeat: no-repeat;
}

.lights__item:nth-child(2){
  background-image: url('../images/light-2.png');
  background-repeat: no-repeat;
}

.lights__content{
  padding-left: 435px;
  text-align: left;
  &-title{
    padding-top: 190px;
    max-width: 275px;
    font-size: 26px;
    line-height: 32px;
    @extend %dmans-700;
    color: #243f4d;
    margin-bottom: 26px;
  }
  &-text{
    max-width: 335px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 20px;
  }
}

.lights__link{
  border: 1px solid #b3b7b5;
  border-radius: 6px;
  height: 60px;
  width: 180px;
  display: flex;
  padding: 14px 20px  20px;
  cursor: pointer;
  &-item {
    position: relative;
    color: #436372;
    font-size: 15px;
    @extend %rubik-500;
    background-color: transrarent;
  }
  &-img{
    position: absolute;
    width: 22px;
    height: 9px;
    bottom: 4px;
    left: 116px;
  }
}

@media (max-width: 1650px){
  .lights{
    margin-bottom: 80px;
    &__items{
      flex-direction: column;
    }
  }
  .lights__item{
    margin-bottom: 40px;
  }
}

@media (max-width: 1550px){
  .lights__content{
    padding-left: 385px;
  }
}

@media (max-width: 755px){
  .lights__content{
    padding-left: 355px;
    overflow: hidden;
    &-title{
      padding-top: 180px;
      max-width: 220px;
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 19px;
    }
    &-text{
      max-width: 300px;
      font-size: 14px;
    }
  }
  .lights__link{
    width: 115px;
    height: 40px;
    padding: 7px 15px 32px;
    &-item {
      font-size: 12px;
    }
    &-img{
      bottom: -19px;
      left: 67px;
    }
  }
}

@media (max-width: 620px){
  .lights{
    margin-bottom: 10px;
  } 
  .lights__item:nth-child(1){
    background-size: auto 65%;
  }
  .lights__item:nth-child(2){
    background-size: auto 65%;
  }
  .lights__content{
    padding-left: 235px;
    &-title{
      padding-top: 133px;
      max-width: 210px;
      font-size: 16px;
      line-height: 21px;
    }
    &-text{
      max-width: 220px;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .lights__link{
    width: 115px;
    height: 40px;
    padding: 7px 15px 32px;
    &-item {
      font-size: 12px;
    }
    &-img{
      bottom: -20px;
      left: 67px;
    }
  }
}