.header{
  padding: 60px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__btn{
    display: none;
  }
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
  font-size: 15px;
  @extend %rubik-500;
  color: $accent;
  line-height: 0.8;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative; 
  }
  &__img--search{
    border-radius: 50%;
    background-color: #edf1f4;
    border: 1px solid #edf1f4;
    padding: 25px;
    overflow: hidden;
    object-fit: cover;
  }
  &__bar{
    min-width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    border: solid;
    border-width: 2px 4px;
    border-radius: 40px;
    background-color: #fcd7b6;
    border: 1px solid #fcd7b6;
  }

  &__num{
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    @extend %dmans-400;
    color: $accent;
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__img--burger{
    padding: 23px 22px;
    border-radius: 25px;
    background-color: #a3bbc8;
    overflow: hidden;
    object-fit: cover;
  }
}

@media (max-width: 1200px){
  .header{
    padding: 30px 0;
    &__inner{
      padding-right: 10px;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1000px){
  .menu {
    order: 1;
    margin-left: 20px;
    .menu__list{
      padding: 15px 0;
      position: absolute;
      top: 115px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transform: translateY(-200%);
      transition: all .3s;
      background-color: #fef7f0;
      &.menu__list--active {
        transform: translateY(0%);
        transition: all .3s;
      }
    }
    &__list-item + .menu__list-item{
      padding-left: 15px;
    }
    &__list-item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
    &__list-link{
      padding: 12px 0;
      display: block;
    }
    &__btn{
      width: 65px;
      height: 65px;
      border: 1px solid #a3bbc8;
      border-radius: 30%;
      background-color: #a3bbc8;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      cursor: pointer;
      span{
        width: 30px;
        height: 3px;
        background-color: #fff;
      }
      &::after,
      &::before{
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        
      }
      &::before{
        margin-top: 17px;
        top: 0;
      }
      &::after{
        margin-bottom: 17px;
        bottom: 0;
      }
    }
  }
  .user-nav{
    margin-left: auto;
  }
}

@media (max-width: 605px){
  .menu {
    order: 0;
    .menu__list{
      top: 209px;
    }
    &__btn{
      width: 60px;
      height: 57px;
    }

  }
  .user-nav{
    margin-top: 25px;
    justify-content: flex-end;
  }
  
}