.modal{
  background-color: #fff;
  padding-top: 100px;
  max-width: 470px;
  margin: 0 auto 120px;
  &__label{
    display: block;
    font-size: 14px;
    color: #436372;
    margin-bottom: 15px;
  }
  &__input{
    height: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    background-color: #fff;
  }
  &__btn{
    margin: 20px 0 20px;
    width: 100%;
    padding: 20px 0 17px;
    color: #fff;
    font-size: 18px;
    @extend %rubik-500;
    background-color: #a3bbc8;
    cursor: pointer;
    border: none;
  }
  &__error{
    display: inline-block;
    margin-left: 190px;
    font-size: 14px;
    color: #436372;
    margin-bottom: 25px;
  }
  &__links{
    padding-top: 25px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      border-bottom: 2px solid #f6f6f6;
      width: 100%;
      top: 0;
    }
  }
  &__text{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 20px;
  }
  &__link{
    display: block;
    width: 100%;
    padding: 20px 0 20px;
    border: 2px solid #a3bbc8;
    text-align: center;
    font-size: 18px;
    
    color: #243f4d;
  }
}
