.footer{
  padding: 80px 0 30px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #7b7b7b;
  margin-bottom: 70px;
  .logo{
    font-size: 36px;
    @extend %rubik-500;
    color: $accent;
    line-height: 1.611;
    text-align: left;
    &__img{
      display: inline-block;   
    }
  }
  &__item a{
    display: block;
    margin-bottom: 10px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__title{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmans-700;
    text-transform: uppercase;
  }
  &__address{
    max-width: 200px;
  }
  &__item-newsletter{
    margin-left: 100px;
  }
  &__newsletter-link{
    max-width: 270px;
    padding-bottom: 35px;
  }
}
.footer-top__form{
  &-input{
    min-width: 170px;
    padding: 12px 0 12px 13px;
    background-color: #fef7f0;
    border: none;
    @extend %dmans-400;
    font-size: 12px;
    line-height: 21px;
    color: #234969;
  }
  &-btn{
    padding: 12px 0;
    min-width: 90px;
    background-color: #a3bbc8;
    border: none;
    font-size: 12px;
    line-height: 21px;
    @extend %dmans-400;
    color: #ffffff;
    margin-left: -5px;
  }
}

.footer-bottom{
  padding: 35px 0 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
}

.footer-menu{
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__list-item{
    position: relative;
  }
  &__list-item + .footer-menu__list-item{
    padding-left: 40px;
  }
  &__list-link {
    color: #7b7b7b;
    &::before{
      content: " ";
      display: flex;
      position: absolute;
      border-right: 1px solid #7b7b7b;
      top: 7px;
      width: 10px;
      height: 15px;
      right: -20px;
    }
  } 
}

@media (max-width: 925px){
  .footer-top{
    flex-wrap: wrap;
    &__item{
      margin-left: 20px;
    }
    &__item-newsletter{
      margin-left: 20px;
    }
  }
  
}

@media (max-width: 895px){
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__item{
      max-width: 100%;
      min-height: 265px;
      margin-top: 30px;
      text-align: left;
    }
    &__item a{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      line-height: 18px;
      text-align: left;
    }
    &__form{
      max-width: 100%;  
    }
  }
  
}

@media (max-width: 665px){  
  .footer-bottom{
    flex-direction: column;
    &__copy{
      text-align: center;
      width: 100%;
    }
  }
  .footer-menu{
    text-align: center;
    padding-right: 0;
    margin: 10px auto;
  }
}