.top-slider{
  padding: 224px 0 45px;
  background-image: url('../images/slider-bg-elipce.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fcd7b6;
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 210px;
  }
  &__title{
    max-width: 430px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    @extend %rubik-500;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 330px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__link-item{
    max-width: 200px;
    max-height: 62px;
    background-color: #a3bbc8;
    display: flex;
    align-items: center;
  }
  &__link{
    font-size: 15px;
    line-height: 12;
    color: #ffffff;
    padding: 21px 29px 21px;
    @extend %rubik-500;
    position: relative;
  }
  &__link-img{
    position: absolute;
    bottom: 105px;
    left: 120px;
  }
  
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
      button{
        padding: 0;
        font-size: 10px;
        line-height: 0;
        text-align: center;
        background-color: #fde3cc;
        color: $title;
        width: 28px;
        height: 28px;
        border: 1px solid #fde3cc;
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }    
}

@media (max-width: 1245px){
  .top-slider{
    padding: 190px 0 45px;
    &__item{
      padding-left: 10px;
    }
    &__img{
      width: 70%;
      height: 50%;
    }
    &__title {
      max-width: 410px;
      font-size: 60px;
      line-height: 60px;
      color: #243f4d;
      margin-bottom: 20px;
    }
    &__text {
      max-width: 325px;
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 25px;
    }
    &__link-item{
      max-width: 155px;
      max-height: 50px;
    }
  }
    
}  

@media (max-width: 985px){
  .top-slider{
    padding: 170px 0 45px;
    &__img{
      width: 60%;
      height: 50%;
    }
    &__title {
      max-width: 370px;
      font-size: 45px;
      line-height: 51px;
    }
    &__text {
      max-width: 270px;
      font-size: 16px;
      line-height: 25px;
    }
    &__link-item{
      max-width: 125px;
      max-height: 40px;
    }
    &__link{
      font-size: 12px;
    }
  }
  .slick-slide.slick-cloned {
    width: 932px;
    height: 400px;
  }
}
@media (max-width: 850px){
  .top-slider{
    padding: 110px 0 40px;
    &__title {
      max-width: 250px;
      font-size: 32px;
      line-height: 40px;
    }
    &__text {
      max-width: 210px;
      font-size: 14px;
      line-height: 18px;
    }
    &__link-item{
      max-width: 125px;
      max-height: 40px;
    }
    &__link{
      font-size: 12px;
    }
  }
  .slick-list.draggable {
    height: 300px;
  } 
}

@media (max-width: 630px){
  .top-slider{
    padding: 85px 0 30px;
    &__title {
      max-width: 200px;
      font-size: 22px;
      line-height: 27px;
    }
    &__text {
      max-width: 150px;
      font-size: 12px;
      line-height: 18px;
    }
    &__link-item{
      max-width: 100px;
      max-height: 30px;
    }
    &__link{
      font-size: 10px;
    }
  }
  .slick-list.draggable {
    height: 210px;
  } 
  .top-slider .slick-dots li button {
    font-size: 8px;
    width: 20px;
    height: 20px;
  }
}


@media (max-width: 630px){
  .top-slider{
    &__title {
      max-width: 150px;
      font-size: 18px;
      line-height: 23px;
    }
    &__text {
      max-width: 120px;
      font-size: 10px;
      line-height: 16px;
    }
    &__link-item{
      max-width: 80px;
      max-height: 25px;
    }
    &__link{
      font-size: 8px;
    }
  }
  .slick-list.draggable {
    height: 210px;
  } 
}