.video{
  padding: 50px 0 60px;
  &__item{
    height: 500px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 250px;
    right: 0;
    text-align: center;
  }
}

@media (max-width: 1150px){
  .video{
    padding: 0;
    margin-bottom: -100px;
    &__item{
      background-size: auto 70%;
    }
    &__btn{
      top: 200px;
      height: 20%;
    }
  }
} 


@media (max-width: 890px){
  .video{
    margin-bottom: -170px;
    &__item{
      background-size: auto 50%;
    }
    &__btn{
      top: 130px;
      height: 15%;
    }
  }
} 
@media (max-width: 560px){
  .video{
    margin-bottom: -235px;
    &__item{
      background-size: auto 40%;
    }
    &__btn{
      top: 100px;
      height: 10%;
    }
  }
} 