.blog{
  padding-top: 60px;
  margin-bottom: -186px;
  &__top{
  display: flex;
  justify-content: space-between;
    &-title{
      font-size: 36px;
      color: #191919;
      @extend %dmans-700;
      margin-bottom: 46px;
    }
    &-alllink {
      margin-right: 20px;
      display: flex;
      @extend %dmans-700;
      color: #262626;
      cursor: pointer;
      position: relative;
      & img{
        position: absolute;
        width: 7px;
        height: 12px;
        top: 8px;
        left: 64px;
      }
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    max-width: 370px;
    position: relative;
    
    &::before{
      content: "";
      position: absolute;
      width: 315px;
      bottom: 50px;
      left: 20px;
      border-bottom: 1px solid #e0e0e0;
    }
    &-news{
      min-width: 100px;
      color: #fff;
      position: absolute;
      bottom: 150px;
      margin-left: 28px;
      padding-left: 31px;
      background-color: #a3bbc8;
      border-radius: 30px;
      margin-bottom: 20px;
    }
  }
}

.blog__info{
  padding: 35px 0  0;
  &-text{
    font-size: 18px;
    @extend %dmans-500;
    color: #262626;
    min-height: 90px;
    max-width: 280px;  
    padding-left: 20px;
    margin-bottom: 18px;
  }  
  &-infodate{
    padding: 0px 90px 13px 21px;
    display: flex;
  }
}

.blog__info-author{
  font-size: 12px;
  @extend %rubik-400;
  color: #222933;
  
}
.blog__info-date{
  font-size: 12px;
  @extend %rubik-400;
  color: #222933;
  padding-right: 20px;
  
  &::before{
    content: "";
    border-bottom: 1px solid #1f2e1d;
  }
}

@media (max-width: 1190px){
  .blog{
    padding: 0;
    &__top{
      &-title{
        font-size: 28px;
      } 
    }
    &__items{
      flex-direction: column;
    }
    &__item{
      justify-content: center;
      align-items: center;
      margin: 30px auto;
      max-width: 100%;
    }
  } 

}

@media (max-width: 850px){
  .blog{
    &__top{
      &-title{
        font-size: 18px;
        margin-bottom: 30px;
      } 
    }
    &__item{
      margin: 20px auto;
    }
  }
  .blog__info{
    &-text{
      font-size: 12px;
      line-height: 24px;
    }  
  }
  .blog__info-author{
    font-size: 10px;
  }
  .blog__info-date{
    font-size: 10px;
  }
} 

@media (max-width: 570px){
  .blog{
    &__top{
      &-title{
        font-size: 16px;
        margin-bottom: 20px;
      } 
      &-alllink {
        font-size: 14px;
        & img{
        position: absolute;
        width: 7px;
        height: 9px;
        top: 10px;
        left: 50px;
        }
      }
    }
  }
  .blog__info{
    &-text{
      font-size: 14px;
    }
  }  
}

@media (max-width: 480px){
  .blog{
    &__top{
      &-title{
        font-size: 14px;
      } 
      &-alllink {
        font-size: 12px;
      }
    }
  }
}