.terms{
  padding: 110px 0 70px;
  &__title{
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__item{
    @extend %rubik-400;
    margin-left: 23px;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__text{
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px){
  .terms{
    padding: 60px 0 50px;
    &__title{
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__item{
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 24px;
    }
    &__text{
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 24px;
    }
  }  
}
@media (max-width: 570px){
  .terms{
    padding: 45px 0 35px;
    &__title{
      font-size: 16px;
    }
    &__item{
      font-size: 12px;
    }
    &__text{
      font-size: 12px;
    }
  }  
}

@media (max-width: 480px){
  .terms{
    padding: 45px 0 35px;
    &__title{
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    &__item{
      font-size: 10px;
      margin-bottom: 15px;
    }
    &__text{
      font-size: 10px;
      line-height: 20px;
      margin-bottom: 15px;
    }
  }  
}