.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    width: 830px;
    margin-right: 65px;
  }
  &__item{
    position: relative;
  }
  &__aside{
    width: 290px;
  }
  &__title {
    padding-top: 40px;
    font-size: 36px;
    line-height: 27px;
    @extend %rubik-400;
    color: #333333;
    margin-bottom: 35px;
    
  }
  &__item-text{
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 30px;
  }
  
}
.blog-box{
  position: absolute;
  bottom: 294px;
  width: 275px;
  height: 70px;
  display: flex;
  padding: 25px 0 25px;
  background-color: #a3bbc8;
  justify-content: center;
  align-items: center;
  &__date{
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    margin-right: 10px;
    & i{
      padding-right: 5px;
    }
  }
  &__author{
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    & i{
      padding-right: 5px;
    }
  }
}

.blog-page__link-item{
  padding: 20px 0;
  background-color: transparent;
  border: 1px solid #a3bbc8;
  border-radius: 3px;
  max-width: 180px;
  position: relative;
  color: #a3bbc8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  .blog-page__link{
    display: block;
    color: #a3bbc8;
  }
  &__link-img{
    display: inline-block;;
    position: absolute;
    width: 15px;
    height: 11px;
    bottom: 27px;
    left: 125px;
  }
}

@media (max-width: 1200px){
  .blog-page{
    padding: 60px 0;
    .filter-recent,
    .filter-category{
      display: none;
    }
    .filter-search{
      &__input{
        width: 100%;
      }
    }
    &__img{
      width: 100%;
    }
    .blog-box{
      bottom: 264px;
    }
    &__content {
      width: 100%;
      margin-right: 0;
    }

    &__aside{
      width: 100%;
      order: -1;
    }
    &__inner{
      flex-direction: column;
    }
  } 
}

@media (max-width: 1152px){
  .blog-page{
    .blog-box{
      bottom: 264px;
    }
  }
}  
@media (max-width: 1146px){
  .blog-page{
    .blog-box{
      bottom: 294px;
    }
  }
} 

@media (max-width: 780px){
  .blog-page{
    padding: 30px 0;
    &__title {
      padding-top: 34px;
      font-size: 28px;
      margin-bottom: 30px;
    }
    &__item-text{
      font-size: 14px;
    }
    .blog-page__link-item{
      padding: 10px 0;
      max-width: 130px;
      margin-bottom: 40px;
    }
    .blog-page__link{
      font-size: 12px;
    }
    .blog-box{
      bottom: 263px;
      max-width: 200px;
      height: 50px;
      padding: 15px 0 15px;
      &__date{
        font-size: 10px;
        line-height: 26px;
      }
      &__author{
        font-size: 10px;
        line-height: 26px;
        
      }
    }
  }
}

@media (max-width: 688px){
  .blog-page{
    &__title {
      padding-top: 20px;
      font-size: 25px;
      margin-bottom: 20px;
    }
    &__item-text{
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .blog-box {
      bottom: 199px;
    }
    .blog-page__link-item{
      padding: 4px 0;
      max-width: 110px;
      margin-bottom: 25px;
    }
    .blog-page__link{
      font-size: 10px;
    }
    .blog-box{
      max-width: 180px;
      height: 40px;
      padding: 10px 0 10px;
      &__date{
        font-size: 10px;
        line-height: 26px;
      }
      &__author{
        font-size: 10px;
        line-height: 26px;
        
      }
    }
  }
}

@media (max-width: 593px){
  .blog-page{
    &__title {
      padding-top: 10px;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .blog-box {
      bottom: 203px;
    }
    .blog-page__link-item{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 503px){
  .blog-page{
    &__title {
      font-size: 16px;
    }
    &__item-text{
      font-size: 10px;
      line-height: 20px;
    }
    .blog-box {
      bottom: 187px;
    }
  }
}
@media (max-width: 401px){
  .blog-page{
    .blog-box {
      bottom: 207px;
    }
  }
}
@media (max-width: 330px){
  .blog-page{
    .blog-box {
      bottom: 227px;
    }
  }
}